body {
  font-family: Georgia, serif;
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 2s ease forwards;
}

.card {
  opacity: 0;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease;
}

.card:hover {
  transform: scale(1.03);
  z-index: 1;
}


.card-img-top {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  margin-top: auto;
  border-top: 1px solid #e5e5e5;
  text-align: center;
  padding: 1rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 0 100px;
  margin-top: 30px;
}

.lesson {
  text-align: justify;
}

@keyframes lessonFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;;
  }
}

.lesson-fade {
  opacity: 0;
  animation: lessonFadeIn 2s ease forwards;
}


@media screen and (max-width: 768px) {
  .lesson {
    padding: 0 3rem; /* Reduce the padding for small screens */
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .lesson {
    padding: 0 10vw; /* Adjust the padding for medium screens */
  }
}

@media screen and (min-width: 1025px) {
  .lesson {
    padding: 0 25vw; /* Original padding for large screens */
  }
}

.lesson h1, .lesson h2, .lesson h3, .lesson h4, .lesson h5, .lesson h6 {
  text-align: left;
}

.page-content {
  flex-grow: 1;
}
